<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatClient3AA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatClient3AA.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>Italiano</value>
            </setting>
            <setting name="Hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ConvInColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ConvOutColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OutTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ConvInFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="ConvOutFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="OutTextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Passworduser" serializeAs="String">
                <value />
            </setting>
        </ChatClient3AA.Properties.Settings>
    </userSettings>
</configuration>